/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet.

Remember to add things that won't make sense to print at
the bottom. Things like nav, ads, and forms shouldbe set
to display none.
******************************************************************/
@media print {

  * {
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
    overflow: visible !important;
  }


  a, a:visited {
    color: #000 !important;
    text-decoration: none !important;
    // show links on printed pages
    &:after {
      content: " [LINK: " attr(href) "]";
      color: $link-color;
    }

    // show title too
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }

  a.phone, .simcal-calendar a {
    &:after {
      content: "";
    }

    // show title too
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }

  .single-calendar {
    position: relative;
    .article-header {
      display: none;
    }
    .single-article {

    }
  }

  .weekly-calendar {
    .article-header {
      display: none;
    }
  }

  .calendar_desc img, .print-image {
    position: absolute;
    display: block !important;
    top: 5px;
    left: 5px;
    right: 5px;
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img, .address-box {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

    @page:first {
      margin: 0cm;
    }

    @page {
      margin: 1cm 0cm;
      width: 210mm;
      height: 297mm;
      word-wrap: break-word;
    }


    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
      page-break-inside: avoid;
    }

    h2 {
      //page-break-before: always;
    }

    iframe {
      page-break-before: avoid;
    }

    // h2,
    // h3 {
    //   text-decoration: underline;
    // }

    .row.tip, .row.link, .row.recommendation, .row.warning, .row.info, .row.required {
      padding: 0;
      border: 0px solid;
    }

    .row.warning {
      .note-heading {
        padding: 0.5rem 1rem;
        border-radius: 3px 3px 0 0;
      }
      .note-content {
        border-radius: 0 0 3px 3px;
      }
    }

    .row .note-heading, .note-heading {
      background: color("grey", "lighten-3") !important;
      color: black !important;
      page-break-inside: avoid;
    }
    .label-resources {
      page-break-inside: avoid;
    }

    .row.activities {

      .mdi {
        padding: 0 !important;
      }
    }

    .single-resources .article-header {
      padding-bottom: 0 !important;
      text-align: left;
      padding: 0;
      h1 {
        font-size: $h3-fontsize;
        padding: 0 !important;
        margin: 0 !important;
      }
    }

    .recommendation {
      .note-content {
        .col.s12.l3 {
          float: left !important;
          width: 24.95%;
        }
      }
    }

    .content_block {
      padding: 0;
    }

    .single-resources article {
      margin-top: 0 !important;
      page-break-before: always !important;
    }

    .single-resources .entry-content {
      grid-column: 1 / -1;
      width: 100%;
      max-width: 100%;
    }



    .print-header {
      display: block !important;
      
      h1 {
        margin-top: 50%;
        width: 80%;
        padding: 0;
        margin-left: 10%;
        text-align: left;
        font-size: 58px;
        color: #414141;
        text-transform: uppercase;
        position: relative;
        &:after, &:before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid;
          position: absolute;
          bottom: 10px;
        }
        &:after {
          right: 0;
          background: yellow;
        }
        &:before {
          right: 30px;
          background: cyan;
        }
      }
      a {
        &:after {
          content: "";
        }
      }
    }


    #print_logo {
      height: 7cm;
      display: block;
      margin-top: -4rem !important;
      img {
        height: 7cm;
        object-fit: cover;
        display: block;
    }
    }

  .related-activities {
    display: none;
  }

  .row.activities .note-content span.block, .row.activities .note-content a.block {
    padding: 0;
  }

    .print-footer {
      display: block !important;
      padding-top: 2rem !important;
      text-align: center !important;
      .print-logo {
        margin-top: 2rem;
      }
      a {
        &:after {
          content: "";
        }
      }
    }


    .link, .tip, .warning, .info, .check {
        page-break-inside:avoid;
    }

    .h4 {
      margin-top: 2.28rem;
    }


    // Hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    .resources-meta,
    footer,
    #share-links,
    .parent-page,
    .no-print,
    .location_link,
    .calendar_add,
    .index-wrapper,
    .post-edit-link,
    .simcal-calendar-head,
    .simcal-event-details .btn-flat a,
    .event_location a,
    nav,
    #inner-footer .fixed-action-btn,
    details,
    #fullCalendar {
      display: none !important;
    }

    .simcal-events-list-container .event_wrapper {
      padding: 0 !important;
    }

    .calendar_desc {
      padding: 0 !important;
    }

    .simcal-calendar {
      width: 100% !important;
      margin-top: 13rem;
    }

    .simcal-events-list-container {
      display: block;
    }

    .simcal-events-list-container .simcal-day {
      border: 0px;
    }

    .simcal-day {
      //page-break-after: always;
    }

    .simcal-day-label {
      text-align: left;
      .simcal-date-format {
        font-size: 1.75rem;
        font-weight: bolder;
      }

    }



    .simcal-event-title {
      font-size: 1.5rem !important;
    }

    .simcal-events-list-container .simcal-event-details {

      margin-bottom: 1rem !important;
      padding-bottom: 0;
      page-break-inside: avoid;
    }



} // End of media query
