/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet.

Remember to add things that won't make sense to print at
the bottom. Things like nav, ads, and forms shouldbe set
to display none.
******************************************************************/
@media print {

  * {
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
    overflow: visible !important;
    float: none !important;
    line-height: 1.15 !important;
  }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, .note-content {
  font-family: Helvetica, Arial, sans-serif !important;
  color: #000 !important;
}

span:not(.mdi) {
  font-family: Helvetica, Arial, sans-serif !important;
  color: #000 !important;
}

strong {
  font-weight: 600;
}

  a, a:visited {
    text-decoration: none !important;
    // show links on printed pages
    &:after {
      content: attr(href);
      color: $link-color;
      font-size: 1rem;
    }

    // show title too
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }

  .single-resources a {
    &:after {
      display: block;
    }
  }

  a[href^="mailto:"] {
    &:after {
      content: '';
      display: inline-block;
    }
  }

  a.phone, .simcal-calendar a {
    &:after {
      content: "";
    }

    // show title too
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }

  @page:first {
  }

  blockquote {
     margin: 1rem 0 !important;
  }

  .single article {
    margin-top: 1rem;
    page-break-before: always;
    .article-header {
      padding-bottom: 0;
    }
    h1 {
      padding: 0;
    }
  }

  .single-resources .entry-content {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 100%;
  }

  p, li, span {
    font-size: 1.25rem !important;
    font-weight: 300;
  }


  ol.steps li {
    page-break-inside: avoid !important;
  }

  .apps {
    page-break-inside: avoid !important;
    margin: 0;
    li {
      display: inline !important;
      padding-right: 0 !important;
      .mdi {
        background: transparent !important;
      }
    }
  }

  .steps_block, img {
    break-inside: avoid;
  }

  .info.note-content.grey.lighten-5 {
    background: transparent !important;
    break-inside: avoid !important;
    span.note-title {
      font-weight: 600 !important;
    }
    i {
      margin-bottom: 2px !important;
    }
  }

  .single-calendar {
    position: relative;
    .article-header {
      display: none;
    }
    .single-article {

    }
  }

  .weekly-calendar {
    .article-header {
      display: none;
    }
  }

  .calendar_desc img, .print-image {
    position: absolute;
    display: block !important;
    top: 5px;
    left: 5px;
    right: 5px;
  }

  .ir a:after,
  .links-off a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  .links-off {
    .info.note-content, .available_platforms {
      display: none !important;
    }
  }


  pre, blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img, .address-box {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page:first {
    background: pink !important;
    position: relative;
  }

  .print-header {
    display: block !important;
    width: 100%;
    .print-title {
      position: absolute;
      padding: 45% 0 0 10%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: color("cyan", "lighten-4");
      .print-logo {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
    h1 {
      width: 80%;
      padding: 0;
      text-align: left;
      font-size: 50px;
      text-transform: uppercase;
      color: #000000 !important;
    }
    p {
      color: #000000 !important;
    }
  }

  .note_unordered li {
    padding: 0 !important;
    a {
      background: transparent !important;
      border-bottom: 0px solid !important;
      padding: 0 !important;
      text-align: left !important;
    }
  }

  .print-footer {
    display: block !important;
    padding: 2rem !important;
    text-align: center !important;
    font-size: 1.15rem !important;
    width: 90%;
    margin-left: 5%;
    border: 1px solid color("grey", "lighten-2");
    border-radius: 3px;
    page-break-inside: avoid;
    .print-logo {
      margin-top: 2rem;
    }
    a {
      &:after {
        content: "";
      }
    }
  }

    // Hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    .resources-meta,
    .video_block,
    footer,
    #share-links,
    #share-links-bottom,
    .parent-page,
    .no-print,
    .location_link,
    .calendar_add,
    .index-wrapper,
    .modal-trigger,
    .post-edit-link,
    .simcal-calendar-head,
    .simcal-event-details .btn-flat a,
    .event_location a,
    nav,
    #inner-footer .fixed-action-btn,
    details,
    #fullCalendar {
      display: none !important;
    }

    .simcal-events-list-container .event_wrapper {
      padding: 0 !important;
    }

    .calendar_desc {
      padding: 0 !important;
    }

    .simcal-calendar {
      width: 100% !important;
      margin-top: 13rem;
    }

    .simcal-events-list-container {
      display: block;
    }

    .simcal-events-list-container .simcal-day {
      border: 0px;
    }

    .simcal-day {
      //page-break-after: always;
    }

    .simcal-day-label {
      text-align: left;
      .simcal-date-format {
        font-size: 1.75rem;
        font-weight: bolder;
      }

    }



    .simcal-event-title {
      font-size: 1.5rem !important;
    }

    .simcal-events-list-container .simcal-event-details {

      margin-bottom: 1rem !important;
      padding-bottom: 0;
      page-break-inside: avoid;
    }



} // End of media query
