

.card-panel {
  transition: box-shadow .25s;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  @extend .z-depth-1;
  background-color: $card-bg-color;
}

.card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  @extend .z-depth-1;


  .card-title {
    font-size: 24px;
    font-weight: 400;
    margin: 2rem 0 1rem 0;
    @media #{$small-and-down} {
      font-size: 1.25rem;
      line-height: 1.5rem !important;

    }
    &.activator {
      cursor: pointer;
    }
  }

  // Card Sizes
  &.small, &.large {
    position: relative;

    .card-image {
      max-height: 60%;
      overflow: hidden;
    }
    .card-content {
      max-height: 40%;
      overflow: hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: inherit;
    }
  }

  &.medium, &.medium-small {
    position: relative;

    .card-image {
      max-height: 60%;
      overflow: hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: $link-color;
    }
  }

  &.small {
    height: 300px;
  }

  &.team {
    height: 250px;
    display: flex;
    align-items: center;
    .card-content {
      //max-height: 75%;
      a.team-page {
        margin: 1rem 0;
      }
    }
  }

  &.medium {
    height: 350px;
    @media #{$small-and-down} {
      height: 225px;
    }
  }

  &.medium-small {
    height: 250px;
    @media #{$small-and-down} {
      height: 225px;
    }
  }

  &.large {
    height: 500px;
  }


  .card-image {
    position: relative;

    // Image background for content
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $card-padding;
    }

  }

  .card-content {
    padding: $card-padding;
    border-radius: 0 0 2px 2px;


    p {
      margin: 0;
      color: inherit;
      @media #{$small-and-down} {
        padding: 0.5rem 0;
      }
    }
    .card-title {
      line-height: 48px;
    }
  }

  .card-action {
    border-top: 1px solid rgba(160,160,160,.2);
    padding: $card-padding;
    background: $link-color;
    color: white;

  }

  .card-reveal {
    padding: $card-padding;
    position: absolute;
    background-color: $card-bg-color;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;

    .card-title {
      cursor: pointer;
      display: block;
    }

  }
}

.resource-card {
  margin: 1rem 0rem;
  border-radius: 3px;
  p {
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-block-end: 0;
    @media #{$medium-and-down} {
      margin-block-end: -0.5rem;
    }
  }
  .content {
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  .footer-content {
    text-transform: capitalize;
    color: white;
    padding: 1rem;
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 0;
    border-bottom: 1px solid color("grey", "lighten-2");

    @media #{$medium-and-down} {
      margin-top: -0.5rem;
    }
  }
}
