.collapsible {
  margin: $element-top-margin 0 $element-bottom-margin 0;
  @extend .z-depth-1;
}

#timeline {
}

.key {
  padding: .5rem 1rem;
  color: white;
  width: auto;
  display: inline-block;
  border-radius: 3px;
}


.key li:first-of-type {
  font-weight: bolder;
  text-transform: uppercase;
}



.next {
  display: block;
  margin: 3rem 1rem 1rem 1rem;
  background: whitesmoke;
  color: #bbb;
}

.active .next {
  background: teal;
  color: white;
}



.collapsible-body i.left {
  margin-right: 0;
}


.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
}
.actions button, .actions a {
  color: #bbb;
  border: 1px solid #bbb;
  border-radius: 3px;
  &:hover, &:focus {
    background: #eee;
  }
}


.active .actions button, .active .actions a {
  color: #222;
  border: 1px solid #bbb;
}



.collapsible-header {
  display: block;
  align-items: center;
  font-size: 1.5rem;
  min-height: $collapsible-height;
  line-height: $collapsible-height;
  background-color: $collapsible-header-color;
  border-bottom: 1px solid $collapsible-border-color;
  position: relative;
  color: #bbb;
  padding: 6rem 0 2rem 0;
  i {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: #bbb;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: $collapsible-height;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }
}

.collapsible-body {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #bbb;
  padding: 2rem;
  &:before {
   content: '';
   position: absolute;
   top: 3em;
   border-radius: 30px;
   bottom: 3em;
   left: 0;
   height: 0;
   width: 4px;
   background: whitesmoke;
   transition: 2s;
   overflow: hidden;
 }

  p {
    margin: 0;
    padding: 1rem;
  }
}

.active .collapsible-header, .active .collapsible-body {
  color: black;
}


.active .collapsible-body:before {
  background: teal;
  transition: 2s;
  height: calc(100% - 6rem);
}


// sideNav collapsible styling
.side-nav {

  .collapsible {
    border: none;
    box-shadow: none;

    li { padding: 0; }
  }

  .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    margin: 0 1rem;

    i { line-height: inherit; }
  }

  .collapsible-body {
    border: 0;
    background-color: $collapsible-header-color;

    li a { margin: 0 1rem 0 2rem; }
  }

}

// Popout Collapsible

.collapsible.popout {
  border: none;
  box-shadow: none;
  > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    // transform: scaleX(.92);
    margin: 0 24px;
    transition: margin .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  > li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;
    // transform: scaleX(1);
  }
}
